<h2><%= @user.full_name %>を編集する</h2>
<hr>
<%= form_for @user do |f| %>
  <%= f.label :family_name %>
  <%= f.text_field :family_name %>
  <br>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br><br>
  <%= f.submit "更新する", :class => "btn btn-primary" %>
<% end %>
<br>
<%= link_to @user.full_name,
            user_path(@user.id),
            :class => "btn btn-success" %>